/* Text indent method */
/* Active, Hover, Focus */
/* Truncate characters mixin */
@-webkit-keyframes slide-1 {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  30% {
    opacity: 0;
    display: none;
  }
  95% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    display: block;
  }
}
@keyframes slide-1 {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  30% {
    opacity: 0;
    display: none;
  }
  95% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    display: block;
  }
}

@-webkit-keyframes slide-2 {
  0% {
    opacity: 0;
    display: none;
  }
  25% {
    opacity: 0;
  }
  30% {
    opacity: 1;
    display: block;
  }
  65% {
    opacity: 1;
  }
  70% {
    opacity: 0;
    display: none;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slide-2 {
  0% {
    opacity: 0;
    display: none;
  }
  25% {
    opacity: 0;
  }
  30% {
    opacity: 1;
    display: block;
  }
  65% {
    opacity: 1;
  }
  70% {
    opacity: 0;
    display: none;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes slide-3 {
  0% {
    opacity: 0;
    display: none;
  }
  25% {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  70% {
    opacity: 1;
    display: block;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes slide-3 {
  0% {
    opacity: 0;
    display: none;
  }
  25% {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  70% {
    opacity: 1;
    display: block;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

.section-vision {
  font-size: 0;
  text-align: center;
}

.section-vision p {
  text-align: justify;
  display: inline-block;
  vertical-align: top;
  width: 48%;
}

.section-vision p + p {
  margin-left: 4%;
}

.section-vision .btn {
  margin-top: 70px;
}

.section-products {
  background: #fff;
  position: relative;
  text-align: center;
  overflow: hidden;
}

.section-products .section-products-image {
  display: inline-block;
  mix-blend-mode: multiply;
}

.section-products .selling-points {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-products .selling-points ul {
  max-width: 25%;
}

.section-products .selling-points img {
  max-width: 50%;
}

.section-products .section-products-list {
  text-align: left;
}

.section-products .section-products-list > li {
  font-size: 21px;
  line-height: 25px;
  margin-bottom: 35px;
}

.section-products .section-products-list.right {
  text-align: right;
}

.section-testimonials {
  background: url(../images/testimonials-bg.png) center;
  background-size: cover;
  text-align: center;
  color: #fff;
  padding: 165px 0;
}

.section-testimonials h4 {
  font-size: 40px;
  font-family: "Alegreya", "Didact Gothic", "Open Sans", sans-serif;
  line-height: 45px;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
}

.section-testimonials p {
  position: relative;
  color: #fff;
  text-align: center;
  font-size: 20px;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
}

.section-testimonials p:before, .section-testimonials p:after {
  content: '';
  background: url(../images/quotes.png) no-repeat;
  position: absolute;
  width: 85px;
  height: 55px;
}

.section-testimonials p:before {
  top: -95px;
  left: -105px;
}

.section-testimonials p:after {
  bottom: -55px;
  right: -105px;
  -webkit-transform: scale(-1);
      -ms-transform: scale(-1);
          transform: scale(-1);
}

.products-categories-sections-images {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.products-categories-sections-images li {
  min-height: 500px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  -webkit-transition: -webkit-box-flex .3s linear, -webkit-flex .3s linear;
  transition: -webkit-box-flex .3s linear, -webkit-flex .3s linear;
  -o-transition: flex .3s linear;
  transition: flex .3s linear;
  transition: flex .3s linear, -webkit-box-flex .3s linear, -webkit-flex .3s linear, -ms-flex .3s linear;
}

.products-categories-sections-images li:hover {
  -webkit-box-flex: 1.2;
  -webkit-flex: 1.2;
      -ms-flex: 1.2;
          flex: 1.2;
}

.products-categories-sections-images li:after {
  content: '';
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.products-categories-sections-images .inner {
  position: absolute;
  bottom: 50px;
  left: 50px;
  z-index: 1;
}

.products-categories-sections-images h3 {
  color: #fff;
  font-size: 30px;
  margin-bottom: 20px;
  font-family: "Alegreya", "Didact Gothic", "Open Sans", sans-serif;
}

.products-categories-sections-images h3 span {
  font-size: 50px;
  color: #ca644e;
}

.products-categories-sections-images .products-categories-sections-peanut {
  background: url(../images/index-peanut.jpg) center no-repeat #f6f6f6;
  background-size: cover;
}

.products-categories-sections-images .products-categories-sections-orange {
  background: url(../images/index-orange.jpg) center no-repeat #f6f6f6;
  background-size: cover;
}

.products-categories-sections-images .products-categories-sections-apple {
  background: url(../images/index-apple.jpg) center no-repeat #f6f6f6;
  background-size: cover;
}
