@media screen and (max-width: 960px) {

  .header {

    &:before {
      top: 71px;
    }

    .slider {
      top: 71px;
    }
  }

  .top-nav {
    position: absolute;
    padding: 0;

    .content {
      width: 90%;
    }

    .social-icons {
      display: none;
    }

    .top-nav-icon {
      width: 40px;
      height: 40px;
      text-align: center;
      position: absolute;
      z-index: 11;
      top: 15px;
      right: 15px;
      display: block;

      &:before {
        font-size: 30px;
        color: #fff;
        line-height: 40px;
        text-align: center;
        display: inline-block;
      }
    }

    .top-nav-menu {
      background: #141414;
      position: absolute;
      top: 71px;
      width: 100%;
      left: 0;
      margin-left: 0;
      max-height: 0;
      transition: max-height .3s linear;
      overflow: hidden;

      &.active {
        max-height: 250px;
        padding: 20px 30px;

        > li a {
          opacity: 1;
          transition: opacity .3s .3s linear;
        }
      }

      > li {
        //opacity: 0;
        width: 100%;
      }

      a {
        padding: 5px 0;
        opacity: 0;
      }
    }
  }

  .section-newsletter {

    .section-title {
      font-size: 30px;
    }
  }

  .products-preview-list {
    justify-content: space-around;
  }

  .section-product-expanded {
    padding: 120px 0;
    height: auto;
    overflow: visible;
    min-height: auto;

    .content {
      flex-wrap: wrap;
      height: auto;
    }

    h2 {
      font-size: 35px;
    }
  }
}
