@media screen and (max-width: 640px) {

  .section-title.with-watermark,
  .section-title {
    font-size: 30px;
    margin-bottom: 40px;

    &:before {
      display: none;
    }
  }

  .home-section {
    padding: 50px 0;

    .btn {
      margin-top: 30px;
    }
  }

  .text {
    font-size: 17px;
    line-height: 25px;
  }

  .btn {
    padding: 20px 30px;
  }

  .btn-unfold {
    padding: 0;
  }

  .content,
  .content-medium,
  .content-small,
  .content-extra-small {
    width: 80%;
  }

  .header {

    h1 {
      font-size: 25px;
      line-height: 30px;

      span {
        margin: 10px 0 0;
        font-size: 40px;
        line-height: 40px;
      }
    }

    .slider-controls {
      display: none;
    }
  }

  .products-categories-sections-images {
    flex-wrap: wrap;

    li {
      flex: 0 0 100%;
      min-height: 200px;

      &:hover {
        flex-basis: 100%;
      }
    }
  }

  .section-products .selling-points {
    flex-wrap: wrap;

    ul,
    img {
      max-width: 100%;
      flex: 0 0 100%;
    }

    img {
      order: 1;
      margin-bottom: 30px;
    }

    .right,
    .left {
      text-align: left;
      order: 2;
    }

    li {
      font-size: 18px;
      line-height: 21px;
      margin-bottom: 19px;
    }
  }

  .section-testimonials h4 {
    font-size: 30px;
    line-height: 32px;
  }

  .section-newsletter {
    padding: 30px 0;

    h2,
    .section-newsletter-right {
      // only for EN
      margin-right: -300px;
      width: 100%;
    }
  }

  .footer {
    padding: 50px 0;

    .footer-list-left,
    .footer-list-right {
      width: 100%;
      margin-bottom: 20px;
    }

    .footer-list-right {
      text-align: left;
    }

    .bottom-footer {
      margin-top: 0;
    }
  }

  .section-vision {

    p {
      width: 100%;

      + p {
        margin-left: 0;
        margin-top: 10px;
      }
    }

    ul {
      flex-wrap: wrap;
      margin-bottom: 0;

      li {
        margin-bottom: 30px;
      }

      + img {
        display: none;
      }
    }
  }

  .products-preview-list {
    flex-wrap: wrap;

    li {
      flex-basis: 60%;
      width: 60%;
      margin: 0 10%;

      &:last-child {
        margin: 0 10%;
      }
    }
  }

  .section-product-expanded {
    padding: 50px 0;

    .left-content {
      margin-right: 0;
    }

    .right-content,
    .left-content {
      flex-basis: 100%;
    }
  }

  .section-peanutbutter-bar .right-content,
  .section-orange-bar .left-content,
  .section-apple-bar .right-content,
  .section-matcha-bar .right-content,
  .section-strawberry-bar .left-content {
    display: none;
  }

  .mobile-nutritious-list {
    display: none;

    &.active {
      display: block;
      background: #333;
      padding: 20px;
      border: 1px solid #000;
      margin-top: 50px;
    }

    > li {
      color: #fff;
      font-size: 15px;
      line-height: 22px;

      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
  }
}
