// ---------------------------------------
// Initial imports (helpers, variables)
// ---------------------------------------
@import "helpers",
"variables";

// ---------------------------------------
//
// ---------------------------------------

.resellers-section {
  padding-bottom: 0 !important;
}

.contact-form {
  padding-bottom: 120px;
  text-align: center;

  p {
    display: none;
    margin-bottom: 30px;
    color: #999;

    &.active {
      display: block;
    }
  }

  [type="text"],
  [type="email"],
  textarea {
    padding: 15px 30px;
    border-radius: 2px;
    display: inline-block;
    box-shadow: none;
    border: 1px solid #d4d4d4;
    color: #999;
  }

  [type="text"],
  [type="email"] {
    float: left;
    width: 48%;
    margin-right: 4%;
    margin-bottom: 15px;
  }

  .order-phone,
  .order-name {
    margin-right: 0;
  }

  .order-name,
  textarea {
    width: 100%;
  }

  .order-submit {
    margin-top: 30px;
    border: none;
    cursor: pointer;
  }
}

.shops-list {
  margin-bottom: 50px;

  h2 {
    margin: 30px 0;
    font-size: 20px;
    text-decoration: underline;
  }

  h3 {
    margin: 20px 0;
    padding: 15px 20px;
    background: #eaeaea;
    cursor: pointer;

    &:hover,
    &.active {
      background: darken(#eaeaea, 5);
    }
  }

  li {
    margin-bottom: 10px;
    line-height: 23px;

    p {
      margin-left: 20px;

      &:before {
        content: '•';
        margin-right: 10px;
      }
    }
  }

  .shops {
    display: none;

    &.active {
      display: block;
    }
  }
}
