/* Text indent method */
/* Active, Hover, Focus */
/* Truncate characters mixin */
@-webkit-keyframes slide-1 {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  30% {
    opacity: 0;
    display: none;
  }
  95% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    display: block;
  }
}
@keyframes slide-1 {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  30% {
    opacity: 0;
    display: none;
  }
  95% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    display: block;
  }
}

@-webkit-keyframes slide-2 {
  0% {
    opacity: 0;
    display: none;
  }
  25% {
    opacity: 0;
  }
  30% {
    opacity: 1;
    display: block;
  }
  65% {
    opacity: 1;
  }
  70% {
    opacity: 0;
    display: none;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slide-2 {
  0% {
    opacity: 0;
    display: none;
  }
  25% {
    opacity: 0;
  }
  30% {
    opacity: 1;
    display: block;
  }
  65% {
    opacity: 1;
  }
  70% {
    opacity: 0;
    display: none;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes slide-3 {
  0% {
    opacity: 0;
    display: none;
  }
  25% {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  70% {
    opacity: 1;
    display: block;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes slide-3 {
  0% {
    opacity: 0;
    display: none;
  }
  25% {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  70% {
    opacity: 1;
    display: block;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes smooth-slide-in-right {
  from {
    opacity: 0;
    -webkit-transform: translateX(100px) rotate(0deg);
            transform: translateX(100px) rotate(0deg);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0) rotate(50deg);
            transform: translateX(0) rotate(50deg);
  }
}

@keyframes smooth-slide-in-right {
  from {
    opacity: 0;
    -webkit-transform: translateX(100px) rotate(0deg);
            transform: translateX(100px) rotate(0deg);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0) rotate(50deg);
            transform: translateX(0) rotate(50deg);
  }
}

@-webkit-keyframes smooth-slide-in-left {
  from {
    opacity: 0;
    -webkit-transform: translateX(-100px) rotate(0deg);
            transform: translateX(-100px) rotate(0deg);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0) rotate(50deg);
            transform: translateX(0) rotate(50deg);
  }
}

@keyframes smooth-slide-in-left {
  from {
    opacity: 0;
    -webkit-transform: translateX(-100px) rotate(0deg);
            transform: translateX(-100px) rotate(0deg);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0) rotate(50deg);
            transform: translateX(0) rotate(50deg);
  }
}

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: -1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: -1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::-moz-focus-inner {
  border: 0;
}

a {
  text-decoration: none;
  color: black;
}

a:focus {
  outline: 0;
}

a:active, a:hover {
  outline: 0;
}

.cf:before,
.cf:after {
  content: "";
  display: table;
}

.cf:after {
  clear: both;
}

body {
  background: #fff;
  font-family: "Didact Gothic", "Open Sans", sans-serif;
}

.btn {
  display: inline-block;
  padding: 20px 50px;
  font-size: 18px;
  -webkit-transition: background .2s linear;
  -o-transition: background .2s linear;
  transition: background .2s linear;
  border-radius: 2px;
}

.btn-big {
  padding: 30px 70px;
  font-size: 20px;
}

.btn-coral {
  position: relative;
  background: #ca644e;
  color: #fff;
  -webkit-box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
          box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
}

.btn-coral:before, .btn-coral:after {
  background: #b04b35;
}

.btn-coral span:before, .btn-coral span:after {
  border-right: 10px solid #893a29;
}

.btn-unfold {
  padding: 0;
  position: relative;
}

.btn-unfold:before, .btn-unfold:after {
  position: absolute;
  top: 50%;
  -webkit-transform: translatey(-50%);
      -ms-transform: translatey(-50%);
          transform: translatey(-50%);
  content: '';
  width: 15px;
  height: 70%;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
  z-index: -1;
}

.btn-unfold:before {
  left: -5px;
}

.btn-unfold:after {
  right: -5px;
}

.btn-unfold span {
  padding: 20px 50px;
  display: block;
}

.btn-unfold span:before, .btn-unfold span:after {
  position: absolute;
  top: 0;
  content: '';
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  height: 56px;
  z-index: -1;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
  -webkit-transform-origin: 100% 50%;
      -ms-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
}

.btn-unfold span:before {
  left: -10px;
  -webkit-transform: rotatey(180deg);
      -ms-transform: rotatey(180deg);
          transform: rotatey(180deg);
}

.btn-unfold span:after {
  -webkit-transform: rotatey(0deg);
      -ms-transform: rotatey(0deg);
          transform: rotatey(0deg);
  right: 0;
}

.btn-unfold:hover:before, .btn-unfold:hover:after {
  width: 10px;
}

.btn-unfold:hover:before {
  left: -20px;
}

.btn-unfold:hover:after {
  right: -20px;
}

.btn-unfold:hover span:before {
  -webkit-transform: rotatey(0);
      -ms-transform: rotatey(0);
          transform: rotatey(0);
}

.btn-unfold:hover span:after {
  -webkit-transform: rotatey(-180deg);
      -ms-transform: rotatey(-180deg);
          transform: rotatey(-180deg);
}

.btn-unfold.btn-big span:before, .btn-unfold.btn-big span:after {
  height: 60px;
}

.btn-outline {
  position: relative;
  border: 2px solid #474747;
  color: #474747;
}

.btn-outline:before, .btn-outline:after {
  position: absolute;
  top: 50%;
  -webkit-transform: translatey(-50%);
      -ms-transform: translatey(-50%);
          transform: translatey(-50%);
  content: '';
  border: 2px solid #474747;
  width: 8px;
  height: 70%;
}

.btn-outline:before {
  left: -8px;
}

.btn-outline:after {
  right: -8px;
}

.btn-contrast {
  border: 2px solid #fff;
  color: #fff;
}

.btn-contrast:hover {
  background: #fff;
  color: #474747;
}

.content,
.content-medium,
.content-small,
.content-extra-small {
  width: 92%;
  margin: 0 auto;
}

.content {
  max-width: 1200px;
}

.content-medium-large {
  max-width: 1000px;
}

.content-medium {
  max-width: 800px;
}

.content-small {
  max-width: 600px;
}

.content-extra-small {
  max-width: 400px;
}

.home-section {
  text-align: center;
  padding: 120px 0;
}

.home-section .btn {
  margin-top: 50px;
}

main {
  overflow-x: hidden;
}

.social-icons > li {
  display: inline-block;
}

.social-icons a {
  margin-left: 5px;
  font-size: 0;
  padding: 0;
}

.social-icons a:before {
  color: #b3b3b3;
  font-size: 20px;
}

.social-icons a:hover:before {
  color: #474747;
}

.section-title {
  text-align: center;
  font-size: 45px;
  font-family: "Alegreya", "Didact Gothic", "Open Sans", sans-serif;
  margin-bottom: 70px;
}

.section-title span {
  font-size: 50px;
  color: #ca644e;
}

.section-title.with-watermark {
  position: relative;
  margin-bottom: 130px;
}

.section-title.with-watermark:before {
  content: '';
  background: url(../images/vision-title-bg.png) no-repeat center;
  background-size: contain;
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  -webkit-transform: translatex(-95%);
      -ms-transform: translatex(-95%);
          transform: translatex(-95%);
  top: -90px;
}

.section-title.with-watermark span {
  position: relative;
}

.title-with-dot span {
  font-size: 50px;
  color: #ca644e;
}

.section-subtitle {
  text-align: center;
  font-size: 30px;
  margin-bottom: 50px;
}

.section-subtitle span {
  font-size: 40px;
  color: #ca644e;
}

.section-subtitle-bold {
  font-size: 25px;
  margin-bottom: 40px;
  font-family: "Didact Gothic", "Open Sans", sans-serif;
}

.section-subtitle-bold span {
  font-size: 40px;
  color: #ca644e;
}

.text {
  font-size: 19px;
  line-height: 27px;
  color: #707070;
  text-align: justify;
}

.top-nav {
  position: fixed;
  width: 100%;
  background: #212121;
  border-bottom: 1px solid #080808;
  padding: 0 30px;
  z-index: 9999;
}

.top-nav.unmask .logo {
  opacity: 1;
  -webkit-transition: opacity .25s .25s;
  -o-transition: opacity .25s .25s;
  transition: opacity .25s .25s;
}

.top-nav.unmask .top-nav-menu li:nth-child(1) {
  opacity: 1;
  -webkit-transition: opacity 0.25s 0.5s;
  -o-transition: opacity 0.25s 0.5s;
  transition: opacity 0.25s 0.5s;
}

.top-nav.unmask .top-nav-menu li:nth-child(2) {
  opacity: 1;
  -webkit-transition: opacity 0.25s 0.75s;
  -o-transition: opacity 0.25s 0.75s;
  transition: opacity 0.25s 0.75s;
}

.top-nav.unmask .top-nav-menu li:nth-child(3) {
  opacity: 1;
  -webkit-transition: opacity 0.25s 1s;
  -o-transition: opacity 0.25s 1s;
  transition: opacity 0.25s 1s;
}

.top-nav.unmask .top-nav-menu li:nth-child(4) {
  opacity: 1;
  -webkit-transition: opacity 0.25s 1.25s;
  -o-transition: opacity 0.25s 1.25s;
  transition: opacity 0.25s 1.25s;
}

.top-nav.unmask .top-nav-menu li:nth-child(5) {
  opacity: 1;
  -webkit-transition: opacity 0.25s 1.5s;
  -o-transition: opacity 0.25s 1.5s;
  transition: opacity 0.25s 1.5s;
}

.top-nav.unmask .top-nav-menu li:nth-child(6) {
  opacity: 1;
  -webkit-transition: opacity 0.25s 1.75s;
  -o-transition: opacity 0.25s 1.75s;
  transition: opacity 0.25s 1.75s;
}

.top-nav.unmask .top-nav-language li {
  opacity: 1;
  -webkit-transition: opacity .25s 1.75s;
  -o-transition: opacity .25s 1.75s;
  transition: opacity .25s 1.75s;
}

.top-nav .logo {
  font: 0/0 verdana;
  color: transparent;
  text-shadow: none;
  display: inline-block;
  width: 190px;
  height: 50px;
  margin: 10px 0;
  background: url(../images/logo.svg) no-repeat;
  background-size: contain;
  opacity: 0;
}

.top-nav .content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-nav-icon {
  display: none;
}

.top-nav-language,
.top-nav-menu {
  margin-left: -117px;
}

.top-nav-language li,
.top-nav-menu li {
  color: #fff;
  display: inline-block;
  font-size: 17px;
  line-height: 30px;
  opacity: 0;
}

.top-nav-language li:not(:last-child),
.top-nav-menu li:not(:last-child) {
  margin-right: 20px;
}

.top-nav-language a,
.top-nav-menu a {
  display: inline-block;
  padding: 25px 0;
  color: #fff;
  -webkit-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}

.top-nav-language a:hover, .top-nav-language a.active,
.top-nav-menu a:hover,
.top-nav-menu a.active {
  color: #f3a68f;
  font-weight: bold;
}

.top-nav-language .social-icons a,
.top-nav-menu .social-icons a {
  padding: 0;
}

.top-nav-language .social-icons a:before,
.top-nav-menu .social-icons a:before {
  -webkit-transition: color .3s ease;
  -o-transition: color .3s ease;
  transition: color .3s ease;
}

.header {
  position: relative;
  text-align: center;
  color: #fff;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 80px;
}

.header .content-small {
  position: relative;
  z-index: 1;
}

.header h1 {
  position: relative;
}

.header:before {
  content: "";
  background: #141414;
  position: absolute;
  top: 80px;
  right: 0;
  width: 100%;
  bottom: 0;
  z-index: 9;
}

.header:after {
  content: '';
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.header .slider {
  position: absolute;
  top: 80px;
  right: 0;
  bottom: 0;
  left: 0;
}

.header .slider > li {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transition: 1s opacity;
  -o-transition: 1s opacity;
  transition: 1s opacity;
}

.header .slider > li.show {
  opacity: 1;
  -webkit-transition: 1s opacity;
  -o-transition: 1s opacity;
  transition: 1s opacity;
}

.header .slider > li:after {
  content: '';
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.header .slider .slide-1 {
  background: url(../images/hero-bg-1.jpg) no-repeat center;
  background-size: cover;
}

.header .slider .slide-2 {
  background: url(../images/nutree-main-low.jpg) no-repeat center;
  background-size: cover;
}

.header .slider .slide-3 {
  background: url(../images/header-bg-1.jpg) no-repeat center;
  background-size: cover;
}

.header .slider .slide-4 {
  background: url(../images/header-bg-2.jpg) no-repeat center;
  background-size: cover;
}

.header .slider-controls {
  position: absolute;
  top: 55%;
  background: rgba(255, 255, 255, 0.3);
  width: 50px;
  height: 50px;
  font-size: 50px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  z-index: 8;
  -webkit-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.1);
          box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.1);
  -webkit-transition: -webkit-box-shadow .2s linear;
  transition: -webkit-box-shadow .2s linear;
  -o-transition: box-shadow .2s linear;
  transition: box-shadow .2s linear;
  transition: box-shadow .2s linear, -webkit-box-shadow .2s linear;
  cursor: pointer;
}

.header .slider-controls:hover {
  -webkit-box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.2);
          box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.2);
}

.header .slider-controls.prev {
  left: 20;
}

.header .slider-controls.next {
  right: 20;
}

.header.unmask:before {
  width: 0;
  -webkit-transition: width 1.5s 0.5s cubic-bezier(1, 0.11, 0, 0.97);
  -o-transition: width 1.5s 0.5s cubic-bezier(1, 0.11, 0, 0.97);
  transition: width 1.5s 0.5s cubic-bezier(1, 0.11, 0, 0.97);
}

.header.unmask h1 {
  opacity: 1;
  -webkit-transition: opacity .5s 2s;
  -o-transition: opacity .5s 2s;
  transition: opacity .5s 2s;
}

.header.unmask a {
  opacity: 1;
  -webkit-transition: opacity .5s 2.5s;
  -o-transition: opacity .5s 2.5s;
  transition: opacity .5s 2.5s;
}

.home-page .header:after {
  display: none;
}

.products-page .header,
.bars-page .header {
  background: url(../images/header-products-bg.jpg) no-repeat center;
  background-size: cover;
}

.about-page .header {
  background: url(../images/header-about-bg.jpg) no-repeat center;
  background-size: cover;
}

.order-page .header {
  background: url(../images/header-order-bg-2.jpg) no-repeat center;
  background-size: cover;
}

.contact-page .header {
  background: url(../images/header-contact-bg.jpg) no-repeat center;
  background-size: cover;
}

.header h1 {
  opacity: 0;
  font-size: 35px;
  line-height: 50px;
  font-family: "Didact Gothic", "Open Sans", sans-serif;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
  letter-spacing: 1px;
}

.header h1 span {
  font-family: "Alegreya", "Didact Gothic", "Open Sans", sans-serif;
  font-size: 70px;
  color: #fff;
  font-weight: bold;
  display: block;
  margin: 25px;
}

.header .btn {
  opacity: 0;
  margin-top: 30px;
}

.header-mask {
  width: 100%;
  height: 100px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.section-newsletter {
  background: #f6f6f6;
  padding: 60px 0 30px;
}

.section-newsletter .content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.section-newsletter .section-newsletter-right {
  float: right;
  width: 60%;
}

.section-newsletter .section-newsletter-link {
  margin: auto auto auto 0;
  font-size: 30px;
  font-family: "Alegreya", "Didact Gothic", "Open Sans", sans-serif;
}

.section-newsletter .section-newsletter-link span {
  font-size: 50px;
  color: #ca644e;
}

.section-newsletter h2 {
  background: url(../images/newsletter-bg.png) right no-repeat #f6f6f6;
  background-size: contain;
  height: 150px;
  float: left;
  width: 35%;
  text-align: left;
  margin: 0 5% 0 0;
  padding-top: 15px;
}

.section-newsletter p {
  margin-bottom: 20px;
}

.section-newsletter a {
  display: inline-block;
  border-bottom: 2px solid #000;
  padding-bottom: 2px;
}

.footer {
  padding: 50px 0 100px;
}

.footer .footer-list-title {
  font-family: "Didact Gothic", "Open Sans", sans-serif;
  margin-bottom: 20px;
  color: #000;
}

.footer .footer-list-left,
.footer .footer-list-right {
  width: 25%;
  float: left;
}

.footer .footer-list-left li:not(.footer-list-title),
.footer .footer-list-left li:not(.footer-list-title) a,
.footer .footer-list-right li:not(.footer-list-title),
.footer .footer-list-right li:not(.footer-list-title) a {
  margin-bottom: 10px;
  color: #999;
}

.footer .footer-list-left li:not(.footer-list-title) a:hover,
.footer .footer-list-right li:not(.footer-list-title) a:hover {
  color: #000;
}

.footer .footer-list-right {
  float: right;
  text-align: right;
}

.footer .bottom-footer {
  width: 100%;
  float: left;
  clear: both;
  margin-top: 30px;
}

.footer .bottom-footer p {
  float: left;
  line-height: 30px;
  font-size: 16px;
  color: #474747;
}

.footer .bottom-footer p a {
  font-family: "Didact Gothic", "Open Sans", sans-serif;
}

.footer .bottom-footer ul {
  float: right;
}

.footer .bottom-footer ul li {
  display: inline-block;
  vertical-align: top;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #999;
  margin-left: 5px;
  font-size: 0;
}

.footer .bottom-footer .footer-language {
  float: none;
  display: none;
}

#loading {
  position: fixed;
  background-color: black;
  opacity: 0.5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: none;
}

#loading.active {
  display: block;
}

#loading .lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
  margin-left: calc(50% - 40px);
  margin-top: calc(50% - 120px);
}

#loading .lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  -webkit-animation: lds-dual-ring 1.2s linear infinite;
          animation: lds-dual-ring 1.2s linear infinite;
}

@-webkit-keyframes lds-dual-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes lds-dual-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
