@font-face {
  font-family: 'icons';
  src: url("../fonts/icons.eot?lemujo");
  src: url("../fonts/icons.eot?lemujo#iefix") format("embedded-opentype"), url("../fonts/icons.ttf?lemujo") format("truetype"), url("../fonts/icons.woff?lemujo") format("woff"), url("../fonts/icons.svg?lemujo#icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zoom:before {
  content: "\e000";
}

.icon-add-menu:before {
  content: "\e001";
}

.icon-close-x:before {
  content: "\e002";
}

.icon-arrow-left:before {
  content: "\e003";
}

.icon-arrow-right:before {
  content: "\e004";
}

.icon-arrow-up:before {
  content: "\e005";
}

.icon-arrow-down:before {
  content: "\e006";
}

.icon-dots:before {
  content: "\e008";
}

.icon-mail:before {
  content: "\e009";
}

.icon-fb:before {
  content: "\e00a";
}

.icon-delete:before {
  content: "\e00c";
}

.icon-twitter2:before {
  content: "\e00d";
}

.icon-heart-active:before {
  content: "\e00f";
}

.icon-notification:before {
  content: "\e012";
}

.icon-checkbox:before {
  content: "\e014";
}

.icon-star:before {
  content: "\e017";
}

.icon-flag:before {
  content: "\e018";
}

.icon-questionmark:before {
  content: "\e01c";
}

.icon-info:before {
  content: "\e01f";
}

.icon-map:before {
  content: "\e023";
}

.icon-pen:before {
  content: "\e024";
}

.icon-check-mark:before {
  content: "\e02b";
}

.icon-heart:before {
  content: "\e030";
}

.icon-shop:before {
  content: "\e031";
}

.icon-settings:before {
  content: "\e036";
}

.icon-webpage:before {
  content: "\e037";
}

.icon-phone:before {
  content: "\e038";
}

.icon-comment:before {
  content: "\e039";
}

.icon-bin:before {
  content: "\e041";
}

.icon-avatar:before {
  content: "\e042";
}

.icon-hamburger:before {
  content: "\e043";
}

.icon-exclamation-mark:before {
  content: "\e053";
}

.icon-info-solid:before {
  content: "\e054";
}

.icon-instagram:before {
  content: "\e055";
}

.icon-notes:before {
  content: "\e058";
}

.icon-pen_edit:before {
  content: "\e059";
}

.icon-clock:before {
  content: "\e060";
}

.icon-long-right:before {
  content: "\e547";
}

.icon-play:before {
  content: "\e825";
}

.icon-returns:before {
  content: "\e900";
}

.icon-filters:before {
  content: "\e90f";
}
