@media screen and (max-width: 640px) {
  .section-title.with-watermark,
  .section-title {
    font-size: 30px;
    margin-bottom: 40px;
  }
  .section-title.with-watermark:before,
  .section-title:before {
    display: none;
  }
  .home-section {
    padding: 50px 0;
  }
  .home-section .btn {
    margin-top: 30px;
  }
  .text {
    font-size: 17px;
    line-height: 25px;
  }
  .btn {
    padding: 20px 30px;
  }
  .btn-unfold {
    padding: 0;
  }
  .content,
  .content-medium,
  .content-small,
  .content-extra-small {
    width: 80%;
  }
  .header h1 {
    font-size: 25px;
    line-height: 30px;
  }
  .header h1 span {
    margin: 10px 0 0;
    font-size: 40px;
    line-height: 40px;
  }
  .header .slider-controls {
    display: none;
  }
  .products-categories-sections-images {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .products-categories-sections-images li {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    min-height: 200px;
  }
  .products-categories-sections-images li:hover {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
  }
  .section-products .selling-points {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .section-products .selling-points ul,
  .section-products .selling-points img {
    max-width: 100%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
  .section-products .selling-points img {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 30px;
  }
  .section-products .selling-points .right,
  .section-products .selling-points .left {
    text-align: left;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
  }
  .section-products .selling-points li {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 19px;
  }
  .section-testimonials h4 {
    font-size: 30px;
    line-height: 32px;
  }
  .section-newsletter {
    padding: 30px 0;
  }
  .section-newsletter h2,
  .section-newsletter .section-newsletter-right {
    margin-right: -300px;
    width: 100%;
  }
  .footer {
    padding: 50px 0;
  }
  .footer .footer-list-left,
  .footer .footer-list-right {
    width: 100%;
    margin-bottom: 20px;
  }
  .footer .footer-list-right {
    text-align: left;
  }
  .footer .bottom-footer {
    margin-top: 0;
  }
  .section-vision p {
    width: 100%;
  }
  .section-vision p + p {
    margin-left: 0;
    margin-top: 10px;
  }
  .section-vision ul {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin-bottom: 0;
  }
  .section-vision ul li {
    margin-bottom: 30px;
  }
  .section-vision ul + img {
    display: none;
  }
  .products-preview-list {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .products-preview-list li {
    -webkit-flex-basis: 60%;
        -ms-flex-preferred-size: 60%;
            flex-basis: 60%;
    width: 60%;
    margin: 0 10%;
  }
  .products-preview-list li:last-child {
    margin: 0 10%;
  }
  .section-product-expanded {
    padding: 50px 0;
  }
  .section-product-expanded .left-content {
    margin-right: 0;
  }
  .section-product-expanded .right-content,
  .section-product-expanded .left-content {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
  }
  .section-peanutbutter-bar .right-content,
  .section-orange-bar .left-content,
  .section-apple-bar .right-content,
  .section-matcha-bar .right-content,
  .section-strawberry-bar .left-content {
    display: none;
  }
  .mobile-nutritious-list {
    display: none;
  }
  .mobile-nutritious-list.active {
    display: block;
    background: #333;
    padding: 20px;
    border: 1px solid #000;
    margin-top: 50px;
  }
  .mobile-nutritious-list > li {
    color: #fff;
    font-size: 15px;
    line-height: 22px;
  }
  .mobile-nutritious-list > li:not(:last-child) {
    margin-bottom: 15px;
  }
}
