// ---------------------------------------
// Initial imports (helpers, variables)
// ---------------------------------------

@import "helpers",
"variables";

// ---------------------------------------
// Animations
// ---------------------------------------

@keyframes fade-in {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

@keyframes fade-out {
  from {
    opacity: 1
  }
  to {
    opacity: 0
  }
}

@keyframes smooth-slide-in-right {
  from {
    opacity: 0;
    transform: translateX(100px) rotate(0deg);
  }
  to {
    opacity: 1;
    transform: translateX(0) rotate(50deg);
  }
}

@keyframes smooth-slide-in-left {
  from {
    opacity: 0;
    transform: translateX(-100px) rotate(0deg);
  }
  to {
    opacity: 1;
    transform: translateX(0) rotate(50deg);
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: -1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}


// ---------------------------------------
// Basic general styles
// ---------------------------------------

*,
*:after,
*:before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

.cf:before,
.cf:after {
  content: "";
  display: table;
}

.cf:after {
  clear: both;
}

body {
  background: $white;
  font-family: $font;
}

// ---------------------------------------
// Button types styles (full, outline etc)
// ---------------------------------------

.btn {
  display: inline-block;
  padding: 20px 50px;
  font-size: 18px;
  transition: background .2s linear;
  border-radius: 2px;
}

.btn-big {
  padding: 30px 70px;
  font-size: 20px;
}

.btn-coral {
  position: relative;
  background: $coral;
  color: $white;
  box-shadow: 0 10px 40px rgba($black, .4);

  &:before,
  &:after {
    background: darken($coral, 10);
  }

  span {

    &:before,
    &:after {
      border-right: 10px solid darken($coral, 20);
    }
  }
}

.btn-unfold {
  padding: 0;
  position: relative;

  &:before,
  &:after {
    @include center(vertical);
    content: '';
    width: 15px;
    height: 70%;
    transition: all .3s linear;
    z-index: -1;
  }

  &:before {
    left: -5px;
  }

  &:after {
    right: -5px;
  }

  span {
    padding: 20px 50px;
    display: block;

    &:before,
    &:after {
      position: absolute;
      top: 0;
      content: '';
      border-top: 8px solid transparent;
      border-bottom: 8px solid transparent;
      height: 56px; // button height
      z-index: -1;
      transition: all .3s linear;
      transform-origin: 100% 50%;
    }

    &:before {
      left: -10px;
      transform: rotatey(180deg);
    }

    &:after {
      transform: rotatey(0deg);
      right: 0;
    }
  }

  &:hover {

    &:before,
    &:after {
      width: 10px;
    }

    &:before {
      left: -20px;
    }

    &:after {
      right: -20px;
    }

    span {

      &:before {
        transform: rotatey(0);
      }

      &:after {
        transform: rotatey(-180deg);
      }
    }
  }

  &.btn-big {

    span {

      &:before,
      &:after {
        height: 60px;
      }
    }
  }
}

.btn-outline {
  position: relative;
  border: 2px solid $mid-black;
  color: $mid-black;

  &:before,
  &:after {
    @include center(vertical);
    content: '';
    border: 2px solid $mid-black;
    width: 8px;
    height: 70%;
  }

  &:before {
    left: -8px;
  }

  &:after {
    right: -8px;
  }
}

.btn-contrast {
  border: 2px solid $white;
  color: $white;

  &:hover {
    background: $white;
    color: $mid-black;
  }
}

// ---------------------------------------
// Containers sizes (small, medium, large, etc)
// ---------------------------------------

.content,
.content-medium,
.content-small,
.content-extra-small {
  width: 92%;
  margin: 0 auto;
}

.content {
  max-width: 1200px;
}

.content-medium-large {
  max-width: 1000px;
}

.content-medium {
  max-width: 800px;
}

.content-small {
  max-width: 600px;
}

.content-extra-small {
  max-width: 400px;
}

.home-section {
  text-align: center;
  padding: 120px 0;

  .btn {
    margin-top: 50px;
  }
}

main {
  overflow-x: hidden;
}

.social-icons {

  > li {
    display: inline-block;
  }

  a {
    margin-left: 5px;
    font-size: 0;
    padding: 0;

    &:before {
      color: lighten($common-grey, 10);
      font-size: 20px;
    }

    &:hover:before {
      color: $mid-black;
    }
  }
}

// ---------------------------------------
// Basic typographic styles (Titles, text, etc)
// ---------------------------------------

.section-title {
  text-align: center;
  font-size: 45px;
  font-family: $font-hand;
  margin-bottom: 70px;

  span {
    font-size: 50px;
    color: $coral;
  }

  &.with-watermark {
    position: relative;
    margin-bottom: 130px;

    &:before {
      content: '';
      background: url(../images/vision-title-bg.png) no-repeat center;
      background-size: contain;
      width: 200px;
      height: 200px;
      position: absolute;
      left: 50%;
      transform: translatex(-95%);
      top: -90px;
    }

    span {
      position: relative;
    }
  }
}

.title-with-dot {

  span {
    font-size: 50px;
    color: $coral;
  }
}

.section-subtitle {
  text-align: center;
  font-size: 30px;
  margin-bottom: 50px;

  span {
    font-size: 40px;
    color: $coral;
  }
}

.section-subtitle-bold {
  font-size: 25px;
  margin-bottom: 40px;
  font-family: $font;

  span {
    font-size: 40px;
    color: $coral;
  }
}

.text {
  font-size: 19px;
  line-height: 27px;
  color: #707070;
  text-align: justify;
}

// ---------------------------------------
// Top navigation styles
// ---------------------------------------

.top-nav {
  position: fixed;
  width: 100%;
  background: #212121;
  border-bottom: 1px solid darken(#212121, 10);
  padding: 0 30px;
  z-index: 9999;

  &.unmask {

    .logo {
      opacity: 1;
      transition: opacity .25s .25s;
    }

    .top-nav-menu li {
      @for $i from 1 through 6 {
        &:nth-child(#{$i}) {
          opacity: 1;
          transition: opacity .25s (.25s + $i / 4);
        }
      }
    }

    .top-nav-language li {
      opacity: 1;
      transition: opacity .25s 1.75s;
    }
  }

  .logo {
    @include text-indent;
    display: inline-block;
    width: 190px;
    height: 50px;
    margin: 10px 0;
    background: url(../images/logo.svg) no-repeat;
    background-size: contain;
    opacity: 0;
  }

  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.top-nav-icon {
  display: none;
}

.top-nav-language,
.top-nav-menu {
  margin-left: -117px; // to be center

  li {
    color: $white;
    display: inline-block;
    font-size: 17px;
    line-height: 30px;
    opacity: 0;

    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  a {
    display: inline-block;
    padding: 25px 0;
    color: $white;
    transition: color .2s ease;

    &:hover,
    &.active {
      color: lighten($red, 10);
      font-weight: bold;
    }
  }

  .social-icons a {
    padding: 0;

    &:before {
      transition: color .3s ease;
    }
  }
}

// ---------------------------------------
// Header style
// ---------------------------------------

.header {
  position: relative;
  text-align: center;
  color: $white;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 80px;

  .content-small {
    // To tackle negative z-index of button
    position: relative;
    z-index: 1;
  }

  h1 {
    position: relative;
  }

  &:before {
    content: "";
    background: lighten($black, 8);
    position: absolute;
    top: 80px;
    right: 0;
    width: 100%;
    bottom: 0;
    z-index: 9;
  }

  &:after {
    content: '';
    background: rgba($black, .2);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .slider {
    position: absolute;
    top: 80px; // nav height
    right: 0;
    bottom: 0;
    left: 0;

    > li {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0;
      transition: 1s opacity;

      &.show {
        opacity: 1;
        transition: 1s opacity;
      }

      &:after {
        content: '';
        background: rgba($black, .2);
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
    }

    .slide-1 {
      background: url(../images/hero-bg-1.jpg) no-repeat center;
      background-size: cover;
    }

    .slide-2 {
      background: url(../images/nutree-main-low.jpg) no-repeat center;
      background-size: cover;
    }

    .slide-3 {
      background: url(../images/header-bg-1.jpg) no-repeat center;
      background-size: cover;
    }

    .slide-4 {
      background: url(../images/header-bg-2.jpg) no-repeat center;
      background-size: cover;
    }
  }

  .slider-controls {
    position: absolute;
    top: 55%;
    background: rgba($white, .3);
    width: 50px;
    height: 50px;
    font-size: 50px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    z-index: 8;
    box-shadow: 0 0 0 10px rgba($white, .1);
    transition: box-shadow .2s linear;
    cursor: pointer;

    &:hover {
      box-shadow: 0 0 0 2px rgba($white, .2);
    }

    &.prev {
      left: 20;
    }

    &.next {
      right: 20;
    }
  }

  &.unmask {

    &:before {
      width: 0;
      transition: width 1.5s .5s cubic-bezier(1, .11, 0, .97);
    }

    h1 {
      opacity: 1;
      transition: opacity .5s 2s;
    }

    a {
      opacity: 1;
      transition: opacity .5s 2.5s;
    }
  }

  .home-page & {

    &:after {
      display: none;
    }
  }

  .products-page &,
  .bars-page & {
    background: url(../images/header-products-bg.jpg) no-repeat center;
    background-size: cover;
  }

  .about-page & {
    background: url(../images/header-about-bg.jpg) no-repeat center;
    background-size: cover;
  }

  .order-page & {
    background: url(../images/header-order-bg-2.jpg) no-repeat center;
    background-size: cover;
  }

  .contact-page & {
    background: url(../images/header-contact-bg.jpg) no-repeat center;
    background-size: cover;
  }

  h1 {
    opacity: 0;
    font-size: 35px;
    line-height: 50px;
    font-family: $font;
    text-shadow: 0 0 20px rgba($black, .9);
    letter-spacing: 1px;

    span {
      font-family: $font-hand;
      font-size: 70px;
      color: $white;
      font-weight: bold;
      display: block;
      margin: 25px;
    }
  }

  .btn {
    opacity: 0;
    margin-top: 30px;
  }
}

.header-mask {
  width: 100%;
  height: 100px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

// ---------------------------------------
// Newsletter styles
// ---------------------------------------

.section-newsletter {
  background: $lighter-grey;
  padding: 60px 0 30px;

  .section-newsletter-right {
    float: right;
    width: 60%;
  }

  h2 {
    background: url(../images/newsletter-bg.png) right no-repeat $lighter-grey;
    background-size: contain;
    height: 150px;
    float: left;
    width: 35%;
    text-align: left;
    margin: 0 5% 0 0;
    padding-top: 15px;
  }

  p {
    margin-bottom: 20px;
  }

  a {
    display: inline-block;
    border-bottom: 2px solid $black;
    padding-bottom: 2px;
  }
}

// ---------------------------------------
// Footer styles
// ---------------------------------------

.footer {
  padding: 50px 0 100px;

  .footer-list-title {
    font-family: $font;
    margin-bottom: 20px;
    color: $black;
  }

  .footer-list-left,
  .footer-list-right {
    width: 25%;
    float: left;

    li:not(.footer-list-title),
    li:not(.footer-list-title) a {
      margin-bottom: 10px;
      color: $common-grey;
    }

    li:not(.footer-list-title) a:hover {
      color: $black;
    }
  }

  .footer-list-right {
    float: right;
    text-align: right;
  }

  .bottom-footer {
    width: 100%;
    float: left;
    clear: both;
    margin-top: 30px;

    p {
      float: left;
      line-height: 30px;
      font-size: 16px;
      color: $mid-black;

      a {
        font-family: $font;
      }
    }

    ul {
      float: right;

      li {
        display: inline-block;
        vertical-align: top;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: $common-grey;
        margin-left: 5px;
        font-size: 0;
      }
    }

    .footer-language {
      float: none;
      display: none;
    }
  }
}

.hidden {
  display: none;
}
