// ---------------------------------------
// Initial imports (helpers, variables)
// ---------------------------------------

@import "helpers",
        "variables";

// ---------------------------------------
// Vision section styles
// ---------------------------------------

.section-vision {
  font-size: 0;
  text-align: center;

  p {
    text-align: justify;
    display: inline-block;
    vertical-align: top;
    width: 48%;

    + p {
      margin-left: 4%;
    }
  }

  .btn {
    margin-top: 70px;
  }
}

// ---------------------------------------
// Products promo section styles
// ---------------------------------------

.section-products {
  background: #fff;
  position: relative;
  text-align: center;
  overflow: hidden;

  .section-products-image {
    display: inline-block;
    mix-blend-mode: multiply;
  }

  .selling-points {
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
      max-width: 25%;
    }

    img {
      max-width: 50%;
    }
  }

  .section-products-list {
    text-align: left;

    > li {
      font-size: 21px;
      line-height: 25px;
      margin-bottom: 35px;

    }

    &.left {
      // float: left;
    }

    &.right {
      // float: right;
      text-align: right;
    }
  }
}

// ---------------------------------------
// Testimonials section styles
// ---------------------------------------

.section-testimonials {
  background: url(../images/testimonials-bg.png) center;
  background-size: cover;
  text-align: center;
  color: $white;
  padding: 165px 0;

  h4 {
    font-size: 40px;
    font-family: $font-hand;
    line-height: 45px;
    text-shadow: 0 0 20px rgba($black, .9);
  }

  p {
    position: relative;
    color: $white;
    text-align: center;
    font-size: 20px;
    text-shadow: 0 0 20px rgba($black, .9);

    &:before,
    &:after {
      content: '';
      background: url(../images/quotes.png) no-repeat;
      position: absolute;
      width: 85px;
      height: 55px;
    }

    &:before {
      top: -95px;
      left: -105px;
    }

    &:after {
      bottom: -55px;
      right: -105px;
      transform: scale(-1);
    }
  }
}

// ---------------------------------------
// Products categories promo section styles
// ---------------------------------------

.products-categories-sections-images {
  display: flex;

  li {
    min-height: 500px;
    flex: 1;
    position: relative;
    transition: flex .3s linear;

    &:hover {
      flex: 1.2;
    }

    &:after {
      content: '';
      background: rgba($black, .2);
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }

  .inner {
    position: absolute;
    bottom: 50px;
    left: 50px;
    z-index: 1;
  }

  h3 {
    color: $white;
    font-size: 30px;
    margin-bottom: 20px;
    font-family: $font-hand;

    span {
      font-size: 50px;
      color: $coral;
    }
  }

  .products-categories-sections-strawberry {
    background: url(../images/homepage_1.jpg) center no-repeat $lighter-grey;
    background-size: cover;
  }

  .products-categories-sections-banana {
    background: url(../images/homepage_2.jpg) center no-repeat $lighter-grey;
    background-size: cover;
  }

  .products-categories-sections-apple {
    background: url(../images/homepage_3.jpg) center no-repeat $lighter-grey;
    background-size: cover;
  }

  .products-categories-sections-matcha {
    background: url(../images/homepage_4.jpg) center no-repeat $lighter-grey;
    background-size: cover;
  }

  .products-categories-sections-peanut {
    background: url(../images/homepage_5.jpg) center no-repeat $lighter-grey;
    background-size: cover;
  }

  .products-categories-sections-orange {
    background: url(../images/homepage_6.jpg) center no-repeat $lighter-grey;
    background-size: cover;
  }
}
