// ---------------------------------------
// Font variables
// ---------------------------------------

// Main font variable
$font: 'Didact Gothic', 'Open Sans', sans-serif;

// Main handwritten font variable
$font-hand: 'Alegreya', 'Didact Gothic', 'Open Sans', sans-serif;

// ---------------------------------------
// Color variables
// ---------------------------------------

// Basic colors
$white: #fff;
$black: #000;

// Greyish colors
$even-lighter-grey: #fafafa;
$lighter-grey: #f6f6f6;
$light-grey: #eaeaea;
$mid-black: #474747;
$common-grey: #999;

// Multi colors
$coral: #ca644e;
$yellow: #f8ce60;
$green: #bed4b2;
$orange: #f9cb5c;
$red: #ee8161;
$light-blue: #7ebac2;
$matcha: #c1d166;
$strawberry: #e54a4e;
